<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="icon" type="image/png" href="/img/favicon-rounded.png"/>
        <link rel="icon" type="image/x-icon" href="/img/favicon-rounded.png">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- libs -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Custom styles -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
            
    <header>
        <nav class="menu__items page-width ">
            <a href="#all-collections" class="menu__item_right uppercase color-black">Усі збори</a>
            <a href="/" class="logo menu__item_center uppercase">
                <img src="/img/logo.svg" alt="Donator logo" width="200">
            </a>

            <div class="menu__item_left">
                <a href="/postForm" class="btn create-donation__btn uppercase menu__item_right btn__outline_blue color-blue">Створити збір</a>
                
                <a href="/account">
                    <img src="/img/account.svg" alt="Account svg" width="40">
                </a>
            </div>
        
        </nav>
    </header>