<%- include('partials/header', { title: 'Account' }) %>
<main class="page-width">
    
    <%- include('partials/account-details', { title: 'Account' }) %>

    <%- include('partials/user-posts') %>

</main>

<%- include('partials/footer') %>

