<%- include('partials/header', { title: "Donator" }) %>
    
<main class="page-width">

    <%- include('partials/hero-slider') %>
    <%- include('partials/all-posts') %>
    
</main>

<%- include('partials/footer') %>